.app {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	gap: 30px;

	background-color: #eee;

	font-size: 16px;
	font-family: Inter, sans-serif;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
}

h1 {
	margin: 0;
	font-size: 20px;
	font-weight: 500;
}

.users {
	display: flex;
	flex-direction: column;
	padding: 30px;
	border-radius: 20px;
	gap: 20px;

	width: 585px;
	height: 532px;

	background-color: #fff;
}
